@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --main: #0e0e11;
  --secondary: #2a2b2b;
  --white: #fefffe;
  --accent: #66c18f;
  --accent2: #defcf9;
}

body {
  background: var(--main);
  height: 100%;
  /* overflow: hidden; Prevent body from scrolling */
}

main {
  display: flex;
  height: 100%;
}

aside {
  background: var(--main);
  position: fixed;
  width: 20%; /* Set your desired width */
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0px 8px 16px var(--accent); */
}

aside .top {
  padding-block: 3rem;
  padding-inline: 3rem;
}

aside .middle .nav-list {
  list-style: none;
  padding: 5px;
}

aside .middle .nav-list a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  font-size: 22px;
}

aside .middle .nav-list li {
  padding-block: 1rem;
  padding-inline: 2rem;
  text-decoration: none;
}

.nav-list li a.active {
  background-color: var(--accent);
}

.bottom {
  padding-block: 3rem;
  padding-inline: 3rem;
}

.bottom p {
  font-size: 18px;
  color: var(--accent2);
}

.dashContainer {
  margin-left: 20%; /* Same width as the aside */
  width: calc(100% - 200px); /* Full width minus the width of the aside */
  padding: 2rem 10rem; /* Padding for content within container */
  height: 100%;
  overflow-y: auto; /* Enables vertical scrolling */
  /* background-color: #fff; Background color for visual clarity */
}

header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.add_event_button {
  width: 100%;
  margin: 20px;
}

button {
  height: 40px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  background-color: green;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

section {
  /* width: 1000px; */
  margin: 0px auto;
}

/* Scroll bar */
/* For Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
  /* background-color: transparent; */
}

/* Customize the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Change the color as needed */
}

/* Customize the scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: var(--accent); /* Change the color as needed */
  border-radius: 10px; /* Roundness of the scrollbar handle */
}

/* On hover, the scrollbar handle */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color as needed */
}
