.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.parent > * {
  border-radius: 25px;
  padding: 15px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.parent .event-cover {
  width: 100%;
  height: 210px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background-size: cover; /* Cover the entire div with the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

.creator-name {
  position: relative;
  display: inline-block;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 1rem;
  font-size: 12px;
  margin: 0.5rem;
  font-weight: 400;
}

.event-header,
.event-fund-raised,
.events-container p {
  padding: 4px;
}

main .event-header h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 0.8rem;
}

.donation-progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  background-color: #4caf50; /* Green */
  height: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.events-container p {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover,
.div6:hover {
  background-color: var(--secondary);
}

.event-cover:hover {
  transform: scale(1.05);
  overflow: hidden;
}
