.faq-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0rem 0rem 6rem 0rem;
}

/* FAQs */
.faq-container {
  min-height: 50vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
}

.faq-container .title {
  font-size: 2rem;
  margin: 2rem 0rem;
  font-weight: 500;
}

.faq {
  max-width: 100%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--white);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--accent);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--white);
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active i {
  transform: rotate(180deg);
}

i {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
