@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main: #0e0e11;
  --secondary: #2a2b2b;
  --white: #fefffe;
  --accent: #66c18f;
  --accent2: #defcf9;
}

body {
  background-color: var(--main);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
  box-sizing: border-box;
}

/* Main container */
.reg-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* The body section */
.register-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  gap: 2rem;
}

/* Left section contains title and button */
.reg-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

.reg-left h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.reg-left .title span {
  color: var(--accent);
  font-size: 72px;
  font-weight: 700;
}

.sign-up-link {
  margin-left: 1rem;
  font-size: 14px;
  text-decoration: underline;
  color: var(--accent2);
  cursor: pointer;
  font-weight: 800;
}

/* Right side Signup/register section*/
.form-container {
  box-sizing: border-box;
}

.form-container p {
  margin: 0px 0px 30px 0px;
  font-size: 24px;
  font-weight: 400;
}

/* Form section */
#registrationForm {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  border-radius: 40px;
  border: none;
  box-sizing: border-box;
  padding: 12px 15px;
  width: 100%;
  height: 52px;
  outline: none;
  font-size: 18px;
}

.input input:focus {
  border: 5px solid var(--accent);
}

/* Password */
.box {
  width: 100%;
  background-color: var(--white);
  /* background-color: red; */
  display: flex;
  border-radius: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.box:focus {
  border: 5px solid var(--accent);
}

.box input {
  width: 85%;
}

#toggleBtn {
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#toggleBtn::before {
  content: "\f06e";
  font-family: fontAwesome;
  color: var(--secondary);
}

#toggleBtn.hide::before {
  content: "\f070";
  font-family: fontAwesome;
  color: var(--secondary);
}

.error-message {
  color: red;
  font-size: 14px;
}

/* Validation section */
.validation {
  background: var(--secondary);
  padding: 20px;
  margin-top: 10px;
  border-radius: 16px;
}

.validation p {
  font-size: 18px;
}

.validation ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.validation ul li {
  position: relative;
  list-style: none;
  font-size: 0.85rem;
  transition: 0.5s;
}

.validation ul li.valid {
  color: gray;
}

.validation ul li::before {
  content: "\f192";
  font-family: fontAwesome;
  width: 30px;
  height: 20px;
  /* background-color: red; */
  display: inline-flex;
}

.validation ul li.valid::before {
  content: "\f00c";
  color: #0f0;
}

/* Register Button */
.form-btn {
  padding: 10px 15px;
  border-radius: 20px;
  background: var(--accent);
  color: var(--white);
  cursor: pointer;
  box-shadow: rgba(95, 221, 164, 0.24) 0px 3px 8px;
  outline: none;
  border: none;
  font-size: 18px;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

.page-link-label:hover {
  color: var(--white);
}

.sign-up-label {
  margin-top: 150px;
  font-size: 14px;
  color: #747474;
}

.sign-up-link a:visited {
  color: var(--accent);
}

/* Signup with google css */
.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

.google-login-button {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  gap: 5px;
}

.google-login-button {
  border: 2px solid #747474;
}

.google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}
