@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --main: #0e0e11;
  --secondary: #2a2b2b;
  --white: #fefffe;
  --accent: #66c18f;
}

body {
  background: var(--main);
}

/* The header contains image & button */
header {
  width: 100%;
  height: 95vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}

/* Background image */
.hero-section {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -100;
  /* height: 100%; */
}

header .big-title {
  position: absolute;
  z-index: -1;
  line-height: 6rem;
  width: 100%;
  text-align: center;
  /* top: calc(50% + 1rem); */
  font-size: 5rem;
  font-weight: 600;
  color: var(--white);
  text-shadow: 0px 0px 12px var(--accent2);
  /* margin: 5rem; */
}

header .start-fund {
  position: absolute;
  padding: 15px 40px;
  margin: 5rem;
  top: calc(50% + 2rem);
  border-radius: 30px;
  background-color: var(--accent);
  z-index: -1;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running
    pulse;
  align-items: center;
  border: 0;
}

.button:is(:hover, :focus) {
  transform: scale(1.2);
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}

header .start-fund a {
  font-size: medium;
  font-weight: bold;
  color: var(--white);
}

/* Main section */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--main);
  box-shadow: 0px 0px 12px var(--accent2);
  padding: 3rem;
  height: 100%;
  position: relative;
}

/* createes a seamless gradient */
main .main-shadows {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 0;
  background: linear-gradient(to top, #0e0e11, transparent);
}

main .title {
  margin: 1rem 1rem 3rem 1rem;
}

.events,
.video,
.banner .text-container {
  width: 64%;
  padding: 1rem;
  margin: 3rem 0rem;
}

.events .title h2,
.video .title h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--accent);
}

.border {
  position: absolute;
  width: 15%;
  height: 2px;
  background-color: var(--accent2);
  margin-top: 1rem;
}

/* Shows the events  */
.events-container {
  padding: 1rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.2rem;
}

.parent > * {
  border-radius: 25px;
  padding: 15px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.parent .event-cover {
  width: 100%;
  height: 210px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  background-size: cover; /* Cover the entire div with the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

.creator-name {
  position: relative;
  display: inline-block;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 1rem;
  font-size: 12px;
  margin: 0.5rem;
  font-weight: 400;
}

.event-header,
.event-fund-raised,
.events-container p {
  padding: 4px;
}

main .event-header h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 0.8rem;
}

.donation-progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  background-color: #4caf50; /* Green */
  height: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.events-container p {
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
}

.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover {
  background-color: var(--secondary);
}

.event-cover:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.banner {
  width: 100%;
  padding: 50px;
  margin: 0px 0px 25px 0px;
  background-color: var(--accent);
  color: var(--white);
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 12px var(--accent2);
}

.text-container h2 {
  font-size: 28px;
  font-weight: 600;
}

main .video > * {
  margin: 2rem;
}

.faq-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

/* FAQs */
.faq-container {
  min-height: 50vh;
  width: 64%;
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: var(--white);
}

.faq-container .title {
  font-size: 2rem;
  margin: 2rem 0rem;
  font-weight: 400;
}

.faq {
  max-width: 100%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--white);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--accent);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: var(--white);
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active i {
  transform: rotate(180deg);
}

i {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Scroll bar */
/* For Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
  /* background-color: transparent; */
}

/* Customize the scrollbar track */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Change the color as needed */
}

/* Customize the scrollbar handle */
body::-webkit-scrollbar-thumb {
  background-color: var(--accent); /* Change the color as needed */
  border-radius: 10px; /* Roundness of the scrollbar handle */
}

/* On hover, the scrollbar handle */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color as needed */
}
