<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="faq-container">
      <h2 class="title">Fundraise for anyone</h2>
      <!-- First Question -->
      <div class="faq">
        <div class="question">
          <h3>Yourself</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
          <p>Funds are delivered to your Khalti account directly.</p>
        </div>
      </div>
      <!-- Second Question -->
      <div class="faq">
        <div class="question">
          <h3>Friends and family</h3>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="answer">
          <p>
            You'll invite a beneficiary to receive funds or distribute them
            yourself.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
