<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../css/footer.css" /> -->
  </head>
  <body>
    <!-- Site footer -->
    <footer class="footer-distributed">
      <div class="footer-container">
        <div class="footer-left">
          <img src="./inc/assets/logo-main.png" alt="" srcset="" />
        </div>

        <div class="footer-center">
          <div>
            <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Kathmandu</span>Nepal</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+977 9812476549</p>
            </div>
            <div>
              <i class="fa fa-envelope"></i>
              <p>
                <a href="mailto:ksaugat77@gmail.com">contact@sparkfund.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <div>
            <p class="footer-company-about">
              <span>Quick Links</span>
            </p>

            <div class="footer-icons">
              <ul
                style="
                  display: flex;
                  flex-direction: column;
                  text-align: left;
                  font-size: 16px;
                  font-weight: 400;
                  color: white;
                "
              >
                <li><a href="#Home">Home</a></li>
                <li><a href="#Happening">Happening Right Now</a></li>
                <li><a href="#Featured">Featured</a></li>
                <li><a href="#FAQ">FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy;2024 SparkFund | All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
